<!-- Extend bootstrap -->
<!-- Extend base -->
{% extends 'base.html' %}
<!-- Import macros -->
{% import 'macros.html' as macro %}
<!-- Navigation block -->

<!-- Content Block -->

{% block content %}
<!-- Popular Movies -->
<h3>Popular Movies</h3>
<ul>
    {{macro.displayMovieList(popular)}}
</ul>

<!-- Now Showing Movies -->
<h3>Now Showing Movies</h3>
<ul>
    {{macro.displayMovieList(now_showing)}}
</ul>

<!-- Upcoming Movies -->
<h3>Upcoming Movies</h3>
<ul>
    {{macro.displayMovieList(up_coming)}}
</ul>
{% endblock %}